@charset "UTF-8";

.conteudo {
  width: 1000px;
  height: 300px; /* Ajuste conforme necessário */
  margin: auto;
  position: relative; /* Permite posicionamento absoluto dos filhos */
}

.iframe-container {
  width: 380px;
  height: 280px;
  overflow: hidden; /* Esconde as barras de rolagem */
  position: absolute; /* Permite posicionamento absoluto */
  top: 0; /* Posiciona no topo */
  right: 110px; /* Posiciona no canto direito */
  
}

.frame-spec {
  width: 100%;
  height: 100%;
  border: none;
}

.iframe-content {
  overflow-y: scroll; /* Permite a rolagem vertical */
  overflow-x: hidden; /* Esconde a rolagem horizontal */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.iframe-content::-webkit-scrollbar {
  display: none; /* Safari e Chrome */
}
